*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.3rem;
  font-family: "Karla", sans-serif;
  /* line-height: 1.7; */
}

img {
  max-width: 100%;
}

.header__item--logo {
  width: 50px;
  display: flex;
  align-self: center;
  margin-right: 6px;
}

header {
  background: linear-gradient(to right, #672280 0%, #a626d3 100%);
  text-align: center;
  color: #fff;
  padding: 1em 0;
}

.header__item--right {
  margin-left: auto;
  font-size: 0.9em;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

.container {
  width: 85%;
  max-width: 1100px;
  margin: 0 auto;
}
.row {
  display: flex;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.header__item--title {
  letter-spacing: -1px;
  font-size: 2rem;
}

.form {
  display: flex;
}

input {
  display: inline-block;
  width: 50%;
  padding: 1.3em 0.7em;
  margin-top: 4em;
  border-radius: 5px;
  border: 2px solid #d5d4d8;
  text-indent: 5px;
  font-size: 1rem;
  font-family: "Karla", sans-serif;
}
.right {
  margin-right: 25px;
}

.form__btn {
  width: 100%;
  background: linear-gradient(to right, #672280 0%, #a626d3 100%);
  color: white;
  padding: 20px;
  margin: 20px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Karla", sans-serif;
  font-weight: bold;
  font-size: 20px;
  transition: 0.3s ease-out;
  cursor: pointer;
}

.form__btn:hover {
  transform: scale(0.98);
}
